<?xml version="1.0"?>
<launch>
	<!-- <param name="use_sim_time" value="true"/> -->
	
	<!-- <node pkg="complement" type="complement" name="complement"/> -->

	<!-- <include file="$(find cats)/launch/robot_state.launch"/> -->
	<!-- <include file="$(find rwrc19)/launch/playing_bag.launch"/> -->
	
	<!-- <include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/> -->
	<!-- <include file="$(find velodyne_height_map)/launch/amsl_velodyne_heightmap.launch"/> -->
	<!-- <include file="$(find road_recognizer)/launch/road_recognizer.launch"/> -->

	<!-- <node pkg="road_recognizer" name="intensity_partition" type="intensity_partition" output="screen"/> -->
	<!-- <node pkg="road_recognizer" name="pc_store_for_robosym_nagai" type="pc_store_for_robosym_nagai" output="screen"/> -->
	
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/left_start.bag"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/cats_meets_cat_2019&#45;05&#45;16&#45;16&#45;47&#45;20.bag &#45;s 450"/> -->
	
	<!-- 0629 -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/ohdanhodo.bag"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 1370"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 1420"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 1530"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 1595"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 1705"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 1815"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 1870"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 1940"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 2200"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 2270"/> -->
	
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 2900"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 2733"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 1100"/> -->
	
	<!-- 0914 -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/kakuninsoukou_sunny.bag"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;r 0.1"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 2070 &#45;r 0.1"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 2210"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 2480"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 2580 &#45;r 0.1"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 2800"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 2970"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3063"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3150"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3310"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3350"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3430"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3540"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3630"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3800"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3870"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 3950"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 4030"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/0914/tsukuba_full.bag &#45;s 4100"/> -->
	
	<!-- 11/02 -->
	<node pkg="rosbag" name="player" type="play" args="--clock /home/amsl/bagfiles/cats/2019/1102/2019-11-02-14-48-37.bag"/>

	<!-- 2018/6/30 -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/first/2018&#45;06&#45;30&#45;13&#45;52&#45;08.bag &#45;s 330"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/first/2018&#45;06&#45;30&#45;13&#45;52&#45;08.bag &#45;s 1050"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/first/2018&#45;06&#45;30&#45;13&#45;52&#45;08.bag &#45;s 1150"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/first/2018&#45;06&#45;30&#45;14&#45;23&#45;33.bag"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/first/2018&#45;06&#45;30&#45;14&#45;23&#45;33.bag &#45;s 900"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/first/2018&#45;06&#45;30&#45;15&#45;20&#45;55.bag"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/first/2018&#45;06&#45;30&#45;15&#45;20&#45;55.bag &#45;s 150"/> -->

	
	<!-- 2018/8 -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/second/2018&#45;08&#45;04&#45;12&#45;58&#45;48.bag &#45;s 1430"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/second/2018&#45;08&#45;04&#45;12&#45;58&#45;48.bag &#45;s 1140"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/second/2018&#45;08&#45;04&#45;12&#45;58&#45;48.bag &#45;s 700"/> -->

	
	<!-- 2018/10/13 -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;15&#45;03&#45;05.bag /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;15&#45;03&#45;05.bag &#45;s 85 /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;15&#45;03&#45;05.bag &#45;s 210 /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;15&#45;03&#45;05.bag &#45;s 390 /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;15&#45;03&#45;05.bag &#45;s 460 /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;15&#45;03&#45;05.bag &#45;s 735 /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;15&#45;03&#45;05.bag &#45;s 835 /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;15&#45;03&#45;05.bag &#45;s 1060 /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;15&#45;03&#45;05.bag &#45;s 1500 /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/4th/2018&#45;10&#45;13&#45;14&#45;29&#45;03.bag /tinypower/odom:=/odom"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/infant/2018&#45;10&#45;13&#45;13&#45;23&#45;54.bag /tinypower/odom:=/odom"/> -->



	<!-- 2018/11/4 -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 170"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 290"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 450"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 650"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 720"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 980"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 1220"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 1420"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 1550"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 1750"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2018/5th/2018&#45;11&#45;04&#45;15&#45;22&#45;49.bag &#45;s 1850"/> -->

	<node pkg="rviz" name="rviz" type="rviz" args="-d /home/amsl/.rviz/otsu.rviz"/>
</launch>

