<launch>
    <arg name="hz" default="20"/>
    <arg name="normal_estimation_radius" default="0.60"/>
    <arg name="leaf_size" default="0.30"/>
    <arg name="curvature_threshold" default="0.005"/>

    <node pkg="road_recognizer" type="road_recognizer" name="road_recognizer" ns="recognition">
        <param name="HZ" value="$(arg hz)"/>
        <param name="NORMAL_ESTIMATION_RADIUS" value="$(arg normal_estimation_radius)"/>
        <param name="LEAF_SIZE" value="$(arg leaf_size)"/>
        <param name="CURVATURE_THRESHOLD" value="$(arg curvature_threshold)"/>
    </node>

</launch>
