<launch>
	<param name="use_sim_time" value="true"/>
	
	<node pkg="complement" type="complement" name="complement"/>

	<!-- <include file="$(find cats)/launch/robot_state.launch"/> -->
	<!-- <include file="$(find rwrc19)/launch/playing_bag.launch"/> -->
	
	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
	<include file="$(find velodyne_height_map)/launch/amsl_velodyne_heightmap.launch"/>
	<include file="$(find road_recognizer)/launch/road_recognizer.launch"/>
	
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/left_start.bag"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/left_start.bag"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag"/> -->
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 2200"/> -->
	<node pkg="rosbag" name="player" type="play" args="--clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag -s 2400"/>
	<!-- <node pkg="rosbag" name="player" type="play" args="&#45;&#45;clock /home/amsl/bagfiles/cats/2019/tsukuba_full_left_start.bag &#45;s 2270"/> -->
	<node pkg="rviz" name="rviz" type="rviz" args="-d /home/amsl/.rviz/otsu.rviz"/>
</launch>
